@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{ 
    ViewBag.Title = "Create Role";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    foreach(var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5> 
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>

            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">
                <div class="form-group">
                    @*<label asp-for=""></label>
                    <input asp-for="RolName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>*@
                </div>
                <button style="width:auto" type="submit" class="btn btn-primary">Create Role</button>
            </div>
        </form>
    </div>

</div>