/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-notifier/styles.css";
@import "../node_modules/angular-notifier/styles/themes/theme-material.css";
@import "../node_modules/angular-notifier/styles/types/type-default.css";
@import "../node_modules/angular-notifier/styles/types/type-error.css";
@import "../node_modules/angular-notifier/styles/types/type-info.css";
@import "../node_modules/angular-notifier/styles/types/type-success.css";
@import "../node_modules/angular-notifier/styles/types/type-warning.css";
html,
body {
    height: 100vh;
}

.Site-content {
    flex: 1;
}

.form-control.ng-touched.ng-invalid {
    border-color: red;
    border-style: outset;
    border-width: 4px;
}