<div id="formmiddle">

    <form class="text-center border border-light p-5 col-md-4" (ngSubmit)="onSubmit(formData)" #formData="ngForm">
        <!-- <div asp-validation-summary="All"></div> -->
        <h3>Forgot Password</h3>
        <input type="text" class="form-control mb-4" name="email" id="email" placeholder="Email" [(ngModel)]="email" /><br />
        <!-- <input type="text" placeholder="Username" [(ngModel)]="username" name="username"> -->

        <input type="submit" value="Submit" />
    </form>
</div>