<div id="formmiddle">
    <form class="text-center border border-light p-5 col-md-4" (ngSubmit)="onSubmit(formData)" #formData="ngForm">
        <!-- <div asp-validation-summary="All"></div> -->
        <h3>Reset Password</h3>
        <!-- <input [(ngModel)]="code" name="code" pe="hidden" /> -->
        <input class="form-control " type="text" [(ngModel)]="email" name="email" placeholder="Email" /><br />
        <input class="form-control " type="password" [(ngModel)]="password" name="password" placeholder="Password" /><br />
        <input class="form-control mb-4" type="password" [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm Password" /><br />
        <input class="form-control mb-4 btn btn-success" type="submit" value="Reset" />
    </form>
</div>