<p>resetpassword works!</p>
<h3>Reset Password</h3>

<form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
    <!-- <div asp-validation-summary="All"></div> -->

    <input [(ngModel)]="code" type="hidden" />
    <input type="text" [(ngModel)]="email" placeholder="Email" /><br />
    <input type="password" [(ngModel)]="password" placeholder="Password" /><br />
    <input type="password" [(ngModel)]="confirmpassword" placeholder="Confirm Password" /><br />
    <input type="submit" value="Reset" />
</form>