@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Welcome to the Employee management System...</h1>
        <h3>Use above tab for navigation in different section!</h3>
    </div>


@*<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Client</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>*@
    @*<app-root></app-root>
<div> Hello</div>*@
    @*<script src="~/js/Client/runtime.js"></script>
    <script src="~/js/Client/polyfills.js"></script>
    <script src="~/js/Client/styles.js"></script>
    <script src="~/js/Client/vendor.js"></script>
    <script src="~/js/Client/main.js"></script>
  

</body>
</html>*@

