@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Employee management System...</h1>
    <h3>Use above tab for navigation in different section!</h3>
</div>
