<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['home']">EmployeeManagement</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['departmentlist']">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['employeelist']">Employee</a>
                    </li>

                </ul>

            </div>
        </div>
        <div class="navbar-nav ml-auto">

            <div *ngIf="signin" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <!-- <p style="margin-right:20px">
                    <li class="nav-item">
                        <a class="nav-link text-dark">Update</a>
                    </li>
                </p>
                <span class="badge badge-light notification-count" id="notificationCount" data-toggle="popover" title="Notifications"></span>
                <p>
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark"  (click)="logout()">Logout</a>
                    </li>
                </p> -->

                <li class="nav-item">

                    <a class="nav-link text-dark btn button-transparent" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark btn button-transparent" [routerLink]="['updateemployee']">Update</a>
                </li>
                <li class="mr-5">
                    <b> {{username}}</b>

                </li>
                <span class="badge badge-light notification-count" id="notificationCount" data-toggle="popover" title="Notifications"></span>

                <div class="mr-3">
                    <div>
                        <button class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mr-3 btn-danger pl-2 pr-2" (click)="notificationlist()" [(ngModel)]="count">
                            {{count}}
                        </button>
                    </div>
                    <div *ngIf="ntl" class="wrapper">
                        <aside *ngFor="let n of notifications">
                            <div class="notification" [ngClass]="{'is-info': n.style=='info','is-danger': n.style=='danger','is-success': n.style=='success'}">
                                {{n.text}}
                                <button class="delete"></button>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>




            <div *ngIf="!signin" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['forgotpassword']">Forgot Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['login']">Signin</a>
                </li>
                <!-- <p>
                    <a>Signin</a> |
                    <a>Forgot Password</a>
                </p> -->
            </div>



        </div>
    </nav>
</header>

<router-outlet>

</router-outlet>