<div id="right" class=" d-inline " [hidden]="checkdep">
    <!-- <label style="font-size:26px"> Enter the new Department Name</label> -->
    <!-- <input type="text" class="form-control mb-4 mt-5 " placeholder="Enter the new Department Name" [(ngModel)]="newdepartment" name="newdepartment"> -->
    <button [hidden]="checkdep" type="submit" class="btn btn-secondary btn-lg btn-block" [routerLink]="['/employeelist/addemployee']">Add new employee</button>


</div>
<div class="text-center table-responsive col-8  border-right border-black border-4 pl-5" id="formmiddle">

    <div id="left">
        <h1 class="display-4 mb-5">Welcome to the Employee section</h1>

        <table class="table table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
            <thead class="thead-dark">
                <tr>
                    <!-- <th scope="col">Serial No.</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Qualification</th>
                    <th scope="col">Contact No.</th>
                    <th scope="col" [hidden]="checkdep">Department</th>
                    <th scope="col" [hidden]="checkdep">Edit</th>
                    <th scope="col" [hidden]="checkdep">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let emp of employeelist; let i = index'>
                    <!-- <th *ngIf='emp.departmentId!==null' scope="row">{{i+1}}</th> -->
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)'>{{emp.name}}</td>
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)'>{{emp.surname}}</td>
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)'>{{emp.address}}</td>
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)'>{{emp.qualification}}</td>
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)'>{{emp.contactNumber}}</td>

                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)' [hidden]="checkdep">

                        <!-- {{emp.departmentId}} -->
                        <div *ngFor='let depart of departmentlist'>
                            <div *ngIf='emp.departmentId === depart.deptId'>
                                {{depart.departmentName}}
                            </div>
                        </div>



                    </td>
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)' [hidden]="checkdep">
                        <button type="submit" class="btn btn-link" [routerLink]="['/employeelist','editemployee',emp.id]">Edit</button>

                    </td>
                    <td *ngIf='emp.departmentId!==null && (loggedinemp.departmentId===emp.departmentId || freehradmin)' [hidden]="checkdep">

                        <button type="submit" class="btn btn-link" (click)="deleteemployee(emp.id)">Delete</button>


                    </td>
                </tr>

            </tbody>
        </table>
        <hr/>


    </div>
</div>