@model EmployeeManagement.Models.Department

@{
    ViewData["Title"] = "Department Page";
}
 
<div class="text-center">
    <h1 class="display-4">Welcome to the Department section</h1>
    @{ int i = 0;}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Serial No.</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dep in ViewBag.departments)
            {
                i++;
                <tr>
                    <th scope="row">@i</th>
                    <td>@dep.DepartmentName</td>
                    <td>
                        @Html.ActionLink("Edit","Edit", "Department",new { Id = dep.DeptId })

                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Department", new { Id = dep.DeptId }, FormMethod.Post))
                        {

                            <button type="submit" class="btn btn-link">Delete</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr/>
    @using (Html.BeginForm("Add", "Department", FormMethod.Post))
    {
        <label style="font-size:26px"> Enter the new Department Name</label>
        @Html.EditorFor(s => s.DepartmentName, new { htmlAttributes = new { @class = "form-control" ,@maxlength="20", @placeholder = "Department Name", @required="true" } })      <br />
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Add new department</button>

    }
</div>